.presentation{
    background-color: #204546;
    text-align: center;
    color: white;
    height: 170px;
    
}
.para{
        padding-top:1cm ;
        padding-bottom:1cm ;
        padding-right: 3cm;
        padding-left: 3cm;


    }