@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100&display=swap');
.det_product{
    display: flex;
    justify-content: space-evenly;
    transform: translateY(1cm);
     
    .right{
        max-height:480px;
        flex: 3;
        margin-left: 2cm;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(1cm);
            .imgprin{
                width:16cm;
                .forimgprin{
                   height:11cm;
                   width:16cm;
                   object-fit: cover;
                     
                }
            }
            .imagesslu{
                display: flex;
                gap: 25px;
                width:100% ;
                .otherimg{
                    transform: translateX(0.7cm);
                    padding-top: 0.5cm;
                     .forotherimg{
                        height: 1.7cm;
                        width: 2.1cm;
                    }
                }
                .previous{
                    transform: translate(0.3cm,1.1cm);

                }
                .next{
                    transform: translate(0.9cm,1.1cm);
                }
                .butthover{
                   height: 20px;
                   width: 20px;
                   border-radius: 50%;
                   cursor: pointer;

                &:hover{
                    background-color: rgb(223, 223, 223);
                }
               }
            }
    }
    .left{
        flex: 2;
        margin-left: 1.5cm;
        margin-right: 4.5cm;
        height: 20cm;
        .title{ 
            margin-top: 0.5cm;
       
            .items{
 
            display: flex;
            gap: 5px;
            align-items: center;
            
            .item{
                background-color: #f7f7f7;
                padding: 5px;
                 
                font-size: small;
            }
        }}
        .price{
            margin-top: 0.5cm;

            .items{
            display: flex;
            align-items: center;
            gap: 1.5cm;
            .pri{
                display: flex;
                align-items: center;
                gap:0.5cm;
                .lastpri{
                    color: #919191;
                    &>strike{
                         color: #919191;
                    }
                }
                .promo{
                    background-color: #336667;
                    width: 70px;
                    height: 26px;
                    border-radius: 15px;
                    text-align: center;
                    padding-top: 8px;
                    
                    &>span{
                     color: white;
                     font-size: 16px;
                     margin-top: 5px;
                     margin-left: 5px;
                     }
                }
            }
            }
        }
        .todo{
            font-size: 15px;
        }
        .source {
            margin-top: 0.6cm;

            .items{
            display: flex;
            align-items: center;
            gap: 5px;
             .item{
                border: 1px solid #a8a8a8;
                padding: 5px;
                font-size: small;
                &:hover{
                    border: 1px solid #3ab39b;
                    cursor: pointer;
                }
            }
            }
        }
        .origine {
            margin-top: 0.8cm;

            .items{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
             .item{
                border: 1px solid #a8a8a8;
                padding: 5px;
                font-size: small;
                &:hover{
                    border: 1px solid #3ab39b;
                    cursor: pointer;
                }
            }
            }
        }
        .quantite {
            margin-top: 0.8cm;

            .items{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
             .item{
                border: 1px solid #e4e4e4;
                 height: 51px;
                text-align: center;
                
                 
            }
            .toQua{
                width: 111px;
                border-radius: 25px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .fontqua{
                    font-size: 0.6cm;
                     color: #c0c0c0af ;
                     cursor: pointer;
                 }
                 .count{
                    font-size: large;
                    margin-bottom: 5px;
                    .num{ 
                      font-family:  'Montserrat', sans-serif;
                      font-weight: bold;
                    }
                  }
             }
            .toAdd{
                width: 217px;
                background-color: #3ab39b;
                border-radius: 30px;
                align-items: center;
                color: white;
                font-size: larger;
                position: relative;
                cursor: pointer;
                span{
                    position: absolute;
                    margin-left: -65px;
                    margin-top: 13px;
                }
            }
            .toHeart{
                width: 51px;
                border-radius: 50%;
                color: gray;
                font-size: 0.5cm;
                position: relative;

                .heartt{
                    position: absolute;
                    margin-left: -10px;
                    margin-top: 15px;
                    cursor: pointer;
                }
            }
            .toDow{
                width: 329px;
                border-radius: 30px;
                position: relative;
                border: 1px solid #3ab39b ;

                .fadow{
                    color: black;
                    position: absolute;
                    margin-left: -140px;
                     margin-top: 15px;
                     
                  }
                .textdow{
                    margin-left: 20px;
                    position: absolute;
                    margin-left: -100px;
                    margin-top: 15px;
                }
            }
            }
        }
    }
}
.huile{
    font-family:'Fraunces', serif;
    font-weight: bold;
    font-size: 20px;
}