.globaldesc{
     margin-top: 2cm;
     max-width: 25cm;
     height: 6cm;
    margin-left: 5.5cm;
    margin-bottom: 2cm;
     .toDesc{
        padding: 0.5cm;
      .descript{
        display: flex;
        gap: 1cm;
        align-items: center;
        width: 100%;
        border-bottom:1px solid #e4e4e4 ;
        .buttleft,.buttright{
          padding-bottom: 10px;
          width: 3.8cm;
          text-align: center;
         }
        .active{
            border-bottom: 3px solid #3ab39b;
        }
     }
    }
}
.text{   
    display: flex;
    flex-direction: column;
    gap: 15px;    
    margin-top: 0.5cm;
}