@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.nav{
    display: flex;
    justify-content: space-evenly;
     align-items: center;
     box-shadow: 0.8px 1.6px 1.6px hsl(0deg 0% 0% / 0.48);
     min-height: 2.5cm;
     
    .menu{
        display: flex;
        align-items: center;    
        gap: 20px;  
        font-family: 'Montserrat', sans-serif;
        font-weight: bold; 
    }
    .items{
        display: flex;
        gap: 12px;
        align-items: center;
        .item{
              border-radius: 50%;
             text-align:center;
             width: 41px;
             height: 41px;
             font-size: large;
             position: relative;
             .font_cent{
                margin:10px

             }

            
        }
        .use{
            background-color:#3ab39b;
            color: white;

        }
        .twice{
            background-color:#f7f7f7;
            color: #3ab39b;
        }
        .name_user{
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
        }
        .counter_cart{
            position: absolute;
            top: -5px;
            right: -5px;
            color: white;
            background-color:#3ab39b;
            border-radius: 50%;
            height: 16px;
            width: 20px;
            font-size: small;
            font-weight: bold;
            text-align: center;
            padding-top: 2px;

        }


    }

}
